<div class="modal-header">
    <h4 class="modal-title"style={text-align:center}>Create Doctor</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Name:
    <input type="text" name="name" [(ngModel)]="doctor.username" required class="form-control">
    <br>
    Email:
    <input type="text" name="email" [(ngModel)]="doctor.email" required class="form-control">
    <br>
     Password:
    <input type="password" name="password" [(ngModel)]="doctor.password" required class="form-control">
    <br>
     specialist:
    <input type="text" name="specialist" [(ngModel)]="doctor.specialist" required class="form-control">
    <br>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="create(doctor)">Submit</button>
 <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div>